<main>
  <div class="card">
    <div class="card-image">
      <span>Nike</span>
      <img src="assets/tenis.png" alt="Tênis Nike">
    </div>
    <div class="card-details">
      <h2>Tênis Nike</h2>
      <p class="subtitle">Excelente para corridas</p>
      <p class="description">
        MACIO, SUAVE E CONFORTÁVEL.
        Na hora das corridas diárias, o Nike Renew Ride 3 surge com um percurso suave e macio.
        Ele tem um ajuste seguro e uma sensação aconchegante, ideal para quem busca encontrar seu potencial na corrida.
      </p>
      <div class="price-container">
        <span class="price">R$ 249,99</span>
        <button class="btn">Comprar</button>
      </div>
    </div>
  </div>
</main>

